<div class="wwn chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}"
    {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
        <h3 class="item-name"><a>{{item.name}}</a></h3>
    </header>

    <div class="card-content">
        {{{data.description}}}
    </div>

    <div class="card-buttons">
        {{#if hasAttack}}<button data-action="attack">{{ localize "WWN.Attack" }}</button>{{/if}}

        {{#if hasDamage}}
        <button data-action="damage">
            {{#if isHealing}}
            {{ localize "WWN.Healing" }}
            {{else}}
            {{localize "WWN.Damage" }}
            {{/if}}
        </button>
        {{/if}}

        {{#if data.save}}
        <button data-action="save" data-save="{{data.save}}" disabled>
            {{lookup config.saves data.save}} - {{localize "WWN.spells.Save"}}
        </button>
        {{/if}}

        {{#if data.roll}}
        <button data-action="formula">{{ localize "WWN.Roll"}} {{data.roll}} {{#if data.blindroll}}({{localize 'WWN.items.BlindRoll'}}){{/if}}</button>
        {{/if}}
    </div>

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>